*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    background-image: url(./img/background-header.png);
    background-position: 110% 110%;
    background-size:1000px;
    background-repeat: no-repeat;
    background-color: rgb(3, 3, 204);
}

.set_logo{
    width: 100px;
    height: 50px;
    float: left;
    margin-top: 5px;
}

.top_link{
    height: 500px;
    width: 90%;
    background-position:10px 100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.top_link a{
    color: white;
    text-decoration: none;
    line-height: 65px;
    padding-left: 15px;
    
}

.nav_center{
    float: left;
    display: inline-block;
    margin-left: 20px;
    
    
}
.nav_right{
    float:right;
    display: inline-block;
    
    
}

.text_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    color: white;
    text-transform: none;
    margin-bottom: 70px;
    font-size: 25px;

}
#tasto_login{
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 20px 5px;
    margin-left: 10px;

}

.tasto_piano{
    padding: 5px 20px 5px;
    background-color: rgb(49, 204, 35);
    border-radius: 2px;
    text-transform: uppercase;
}

#grey_section{
    background-color: rgb(184, 159, 159);
    height: 120px;
    text-align: center;
    padding:2.5% ;
    font-family: 'Roboto', sans-serif;
}

.central_block{
    
    height: 800px;

}

.colunm_container{
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

.colunm_container2{
    width: 80%;
    height: 400px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:2%;

}

.colonna{
    height: 400px;
    width: 32%;
    float: right;
    margin-right: 2px;
}

.central_block:first-child{
    float:left;
}

.column_img{
    margin-top: 35px;
    margin-bottom: 35px;
    height:35%;
    width:100% ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#img_profile{
    background-image: url(./img/profile.svg);
}

#img_computer{
    background-image: url(./img/computer.svg);
}

#img_doc{
    background-image: url(./img/doc.svg);
}

.colonna h3{
    text-align: center;
    color: green;
    font-size: 25px;
}

.colonna p{
    text-align: center;
    margin-top: 25px;

}

.line{
    width: 20%;
    border-bottom:1px solid green;
    margin: auto;
    padding-bottom: 20px;

}

.grafico{
    background-image: url(./img/mountain.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    float:left;
}

.intro{
    width: 30%;
    height: 100%;
    float: right;

}

.intro h2{
    margin-top:50px;
    font-size: 35px;
}






