*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    
}

header{
    background-image: url(./img/background-header.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: blue;
}



.set_logo{
    width: 100px;
    height: 50px;
    float: left;
    
}

.top_link{
    
  
    height: 400px;
    width: 90%;
 
    background-position:10px 100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;

}

.top_link a{
    color: white;
    text-decoration: none;
    
}

.nav_center{
    float: left;
    display: inline-block;
}
.nav_right{
    float:right;
    display: inline-block;
    
}

.text_bottom{
    position: absolute;
    bottom: 0;
    left: 0;

}